<%- include('./partials/header.ejs') %> 

<div class="container">

	<h1 class="view_header">Customer Details</h1>
 
<div class="table_wrapper">

	<table class='customer_table'>
		 <thead class='table_header'>
			<tr>
				<th>Customer Name</th>
				<th>Email</th>
				<th>Total Credits</th>
			</tr>
		</thead>
		<tbody class='table_body'>
            <% for(let user of users){ %>
			<tr class='table_row'>
					<td><a href="/view/<%= user.id %> " title="click to view customer details"><%= user.name %></a>
					</td>
                <td><%= user.email%></td>
                <td><%= user.credits%></td>
			</tr> 

		 <% } %>
			
	</tbody>
	
	</table>

	</div>

</div>
            

<%- include('./partials/footer.ejs') %> 